In [169]:
## Exercício 3

## Utilizando o dataset Fifa19: Neste exercício, considere o campo 
## Release Clause como sendo o valor do jogador. Considerando somente
## os clubes que possuem mais de 25 jogadores, quais são os 5 clubes 
## mais valiosos?

In [170]:
import pandas as pd
complete_data = pd.read_csv('fifa19.csv')

In [171]:
## Agrupando pelos clubes 
total_jogadores = complete_data.groupby(by='Club', as_index=False).agg({'ID': pd.Series.nunique})

## renomeando colunas
total_jogadores = total_jogadores.rename(columns={'Club': 'Club', 'ID':'Total de jogadores'}) 

## Pegando apenas clubes que tenham mais de  25 jogadores
total_jogadores = total_jogadores[total_jogadores['Total de jogadores']>25]

## Tirando os nomes e mantendo apenas a lista dos clubes
lista_clubes = total_jogadores.drop(columns=['Total de jogadores'])

In [172]:
## Pegando club e o valor
df1 = complete_data[['Club','Release Clause']].sort_values(['Club'])

## Tirando NaN
df1 = df1.dropna()

## Limpando e transformando de string para float
df1['Release Clause'] = df1['Release Clause'].str.replace('€', '')

df1['Release Clause'] = (df1['Release Clause'].replace(r'[KM]+$', '', regex=True).astype(float) * \
df1['Release Clause'].str.extract(r'[\d\.]+([KM]+)', expand=False).fillna(1).replace(['K','M'], [10**3, 10**6]).astype(int))
df1['Release Clause'] = df1['Release Clause'].astype('int')

## Agrupando por club e calculando a média de cada club
df1 = df1.groupby(['Club']).mean()

In [173]:
## Fazendo merge da lista dos clubes que tem mais de 25 jogadores e
## da lista dos clubes com a média do Release Clause
df_final = pd.merge(df1, lista_clubes, on=['Club'])

## Lista dos 5 clubes mais valiosos
df_final[:5]

                    Club  Release Clause
0    SSV Jahn Regensburg    1.290840e+06
1  1. FC Heidenheim 1846    1.628607e+06
2   1. FC Kaiserslautern    9.908462e+05
3             1. FC Köln    7.751643e+06
4        1. FC Magdeburg    1.289083e+06