In [244]:
## Exercício 8

## Utilizando o dataset Iris: Primeiro, apague a substring “Iris-” 
## da coluna Species. Em seguida, adicione 3 novas colunas à tabela 
## inicial, sendo que cada coluna receberá uma dummy referente a cada
## uma das species. Ou seja, você deve criar uma coluna chamada 
## Dummy_Setosa, que recebe 1 se a flor for da espécie Setosa e 0 
## caso contrário. O mesmo para as demais espécies.

In [245]:
import pandas as pd
import numpy as np
data2 = pd.read_csv('Iris.csv')

In [246]:
## limpando Iris- do nome
data2['Species'] = data2['Species'].str.replace('Iris-', '')

In [247]:
## pegando por espécie desejada e transformando em True/False
data2['Dummy_Setosa'] = data2['Species'].str.contains('setosa')

## multiplicando por 1. assim true vira 1 e false 0
data2['Dummy_Setosa'] = data2['Dummy_Setosa']*1

In [248]:
## pegando por espécie desejada e transformando em True/False
data2['Dummy_Virginica'] = data2['Species'].str.contains('virginica')

## multiplicando por 1. assim true vira 1 e false 0
data2['Dummy_Virginica'] = data2['Dummy_Virginica']*1

In [249]:
## pegando por espécie desejada e transformando em True/False
data2['Dummy_Versicolor'] = data2['Species'].str.contains('versicolor')

## multiplicando por 1. assim true vira 1 e false 0
data2['Dummy_Versicolor'] = data2['Dummy_Versicolor']*1

In [253]:
## visualização simples para verificar os dummies values 
data2.groupby('Species').head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Dummy_Setosa,Dummy_Virginica,Dummy_Versicolor
0,1,5.1,3.5,1.4,0.2,setosa,1,0,0
1,2,4.9,3.0,1.4,0.2,setosa,1,0,0
2,3,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5,5.0,3.6,1.4,0.2,setosa,1,0,0
50,51,7.0,3.2,4.7,1.4,versicolor,0,0,1
51,52,6.4,3.2,4.5,1.5,versicolor,0,0,1
52,53,6.9,3.1,4.9,1.5,versicolor,0,0,1
53,54,5.5,2.3,4.0,1.3,versicolor,0,0,1
54,55,6.5,2.8,4.6,1.5,versicolor,0,0,1
100,101,6.3,3.3,6.0,2.5,virginica,0,1,0
101,102,5.8,2.7,5.1,1.9,virginica,0,1,0
102,103,7.1,3.0,5.9,2.1,virginica,0,1,0
103,104,6.3,2.9,5.6,1.8,virginica,0,1,0
104,105,6.5,3.0,5.8,2.2,virginica,0,1,0